/* Reset some default styles */
body, h1, p, ul, button, select {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono", monospace;
    background-color: #f0f0f0;
    color: #556f7b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    flex-grow: 1;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style for the "Generate Prompt" button (pastel teal) */
.generate-button {
    background-color: #64c2b2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Style for the "Save Data" button (pastel peach) */
#saveButtonSet1, #saveButtonSet2, #saveButtonSet3 {
    background-color: #ff9a8b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Add spacing between buttons */
.button-spacing {
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

/* Style for the "Selection Dropdown" */
#promptSetSelection {
    padding: 10px;
    font-size: 16px;
}

/* Style for timestamp lists */
ul {
    list-style: none;
    padding: 0;
    text-align: left;
    font-size: 16px;
}

/* Media Query for Small Screens */
@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .generate-button,
    #saveButtonSet1,
    #saveButtonSet2,
    #saveButtonSet3 {
        font-size: 16px;
    }

    ul {
        font-size: 14px;
    }
}
