/* Reset some default styles */
body, h1, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono", monospace;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.group-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.generate-button {
    background-color: #aad5c5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-top: 10px;
}

.generate-button:hover {
    background-color: #89b8a5;
}

/* Style the "Generate Prompt" buttons within the group containers */

#promptDisplay {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

#clickCountDisplay {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

#exportMessage {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

/* Style the timestamp list */
#timestampGrid ul {
    list-style-type: none;
    padding: 0;
}

#timestampGrid li {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    margin-bottom: 5px;
}

/* Style the group selection dropdown */
#groupSelection {
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
}

/* Style the "Hear This Prompt" button */
#hearButton {
    background-color: #aad5c5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
}

#hearButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#hearButton:hover {
    background-color: #89b8a5;
}

/* Apply the same styles as other buttons */
.save-button {
    background-color: #ffd1b3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: "Roboto Mono", monospace;
    cursor: pointer;
    margin-right: 10px;
}

.save-button:hover {
    background-color: #ffaaaa;
}

/* Add styles for other elements as needed */
